.card{
margin-top: 30px;
width: 30rem;
height: 28rem;
padding: 2rem;
top: 50px;
left: 150px;
background-color: #222;
color: white;
}
.btn{
  width: 6rem;
  background-color: rgb(221, 44, 79);
  color: black;
  font-weight: 700;
}
.btn:hover{
  width: 6rem;
  background-color: #222;
  color: crimson;
  border: 3px solid;
}

